<h1>GHAF March Meeting</h1>

<h2>Please join us for the Group Health Analyst Forum March 2015 meeting!</h2>

<h3>
Where: GHQ, Room W275<br />
When: Tuesday, March 3, 2015, 12-2pm
</h3>

<p>The folks in Informatics EDW have offered to give an overview of their department, how they’re structured and who the current players are in creating the data we all use and depend on.</p>

<p>Rhonda Ogilvie & Ted Schill will:
	<ul>
		<li>give an intro to the EDW</li>
		<li>present the EDW project roadmap and 2015 goals</li>
		<li>offer a Q&A (so bring your questions!)</li>
	</ul>
</p>

<p>We will also have a simple networking activity and some time built in to connect with each other. Please come ready to give a short blurb on something you're working on!</p>

<h2>Interested in a Vietnamese sandwich?</h2>
<h2> Order Here!</h2>

<%= render 'form' %>

Need to cancel an order?
Email your friendly <%= mail_to "mack.c@ghc.org", "GHAF leader", subject: "No banh mi for me" %> and let us know.