<div id='header'>
<h1>GHAF March Meeting</h1>
<h3>
Where: GHQ, Room W275<br />
When: Tuesday, March 3, 2015, 12-2pm
</h3>
</div>

<div id='main-text'>
<p>Your sandwich has been ordered.</p>

<p>See you Tuesday, March 3rd, at noon!</p>
</div>

<div id='vn-sand'>
<p id='cancel'>
	Need to cancel an order?
	Email your friendly <%= mail_to "mack.c@ghc.org", "GHAF leader", subject: "No banh mi for me" %> and let us know.
</p>
</div>

