$main-color: #3D8793;

@mixin rounded-corners($radius) {
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}

body {
  margin: 0;
  padding: 0;
  background-color: $main-color;
  font-family: verdana;
  font-size: 20px;
}

#header {
  background-color: $main-color;
  color: #FFF;
  padding: 4px 100px;
  border-bottom: solid 5px darken($main-color, 10%);

  h1 {
    font-family: "Special Elite";
    font-size: 36px;
  }
}

#main-text {
  padding: 40px;
  background-color: #FFF;
  p {
    margin: 15px;
  }
}

#vn-sand {
  padding: 4px 100px;
  background-color: lighten($main-color, 20%);
  border-top: solid 5px darken($main-color, 10%);
}

#cancel {
  color: #BCD;
}

a {
  color: $main-color;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

#container {
  margin: 0 100px;
}
